<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

        <link href="{% static 'css/navbar-fixed-top.css' %}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Votify</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="login.html">Log In</a></li>
                        <li><a href="register.html">Register</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center hidden-xs">
                    <h6>New Users</h6>
                    <p>Creating a new account takes only a few seconds.</p>
                </div>
                <div class="col-md-4 text-center">
                    <h6>Existing Users</h6>
                    <p>If you already have an account click below to login.</p>
                </div>
                <div class="col-md-4 text-center hidden-xs">
                    <h6>Help And Support</h6>
                    <p>Please consult the FAQ for commonly asked questions. For any problems with the site, please contact us.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 text-center hidden-xs">
                    <p><a href="register.html" class="btn btn-primary">Register Now</a></p>

                </div>
                <div class="col-md-4 text-center">
                    <p><a href="login.html" class="btn btn-primary">Login Now</a></p>
                </div>
                <div class="col-md-4 text-center hidden-xs">
                    <p><a href="support-pages.html" class="btn btn-info">Support Page</a></p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="jumbotron">
                <div class="container">
                    <h1>Votify your voice your vote</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="panel-group" id="accordion">
                {% for bill in bills %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#accordion{{bill.id}}">
                                    {{ bill.name }}
                                </a>
                            </h4>
                        </div>

                        <div id="accordion{{bill.id}}" class="panel-collapse collapse in">
                            <div class="panel-body">
                                {{ bill.description }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="container v-center">
            <div class="row">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="panel panel-default slideInLeft animate">
                                <div class="panel-heading">
                                <h3>Easy</h3></div>
                                <div class="panel-body">
                                    <p>Just log in and vote for the bill you want to see at the top</p>
                                    <hr>GO
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="panel panel-default slideInUp animate">
                                <div class="panel-heading">
                                <h3>Simple</h3></div>
                                <div class="panel-body">
                                    <p>There is other content and snippets of details or features that can be placed here..</p>
                                    <hr>GO
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="panel panel-default slideInRight animate">
                                <div class="panel-heading">
                                <h3>Clean</h3></div>
                                <div class="panel-body">
                                    <p>There is other content and snippets of details or features that can be placed here..</p>
                                    <hr>GO
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/row-->
            <div class="row">
                <br>
            </div>
        </div>
    <!--javascript-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    </body>
</html>